

@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center text-white-50">
    <h1 class="display-4 custom-color2 ">Welcome</h1> 

     <style>
        body {
            background-image: url('/images/welcome.jpg'); 
            background-size: cover; 
            background-position: center center;
        }
        .custom-color2 
        {
            color: #3a1954;
         }
          .custom-color 
        {
            color: #be71d1;
         }
    </style>
</div>











    

